# Ігнорування файлів середовища Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ігнорування віртуального середовища
venv/
.env/

# Ігнорування налаштувань IDE
.vscode/
.idea/

# Логи та тимчасові файли
*.log
*.tmp

# Інші файли, які не повинні потрапляти до репозиторію
.DS_Store

